html {
  height: 100%;
  width: 100%;
  font-size: 0;
}

body {
  margin: 0;
  background-color: #000000;
}

.header {
  position: relative;
}

.container {
  max-width: 1318px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  background-color: #B50014;
  flex-direction: column;
  color: white;
  height: 93px;
  justify-content: center;
  align-items: center;
}

.nvbar {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 200px;
  gap: 30px;
}
.nvbar li {
  font-size: 16px;
}
.nvbar img {
  height: 20px;
  vertical-align: middle;
}

.opntime {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  color: white;
  justify-content: right;
  width: 100%;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  font-weight: 400;
}
.opntime strong {
  font-weight: 700;
}

button:hover, li:hover {
  cursor: pointer;
}

.opText {
  margin-right: 200px;
  font-size: 16px;
}

.download {
  display: flex;
  gap: 5px;
}

.picture {
  width: 100%;
  position: relative;
}

.MainLogo {
  position: absolute;
  top: 0.2%;
  left: 19%;
  transform: translateX(-50%);
  z-index: 1;
}

.Heiko {
  position: absolute;
  top: 220px;
  color: white;
  width: 490px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 2;
}
.Heiko > h1 {
  font-size: 34px;
  text-align: left;
  padding-left: 190px;
  font-weight: 700;
  line-height: 44.5px;
  margin-top: 5px;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 35px;
}
.Heiko > p {
  font-size: 16px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 250;
  line-height: 24px;
  padding-left: 190px;
  width: 275px;
  height: 134px;
}

.black {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  height: 500px;
  width: 100%;
}

.button {
  background-color: #B50014;
  color: #fff;
  border-radius: 25px;
  border: none;
  outline: 1px solid white;
  width: 147px;
  height: 47px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.black {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  height: 550px;
  width: 100%;
}

.blktext {
  color: white;
  width: 50%;
  font-size: large;
  text-align: left;
  justify-content: center;
}
.blktext > h2, .blktext h3, .blktext p {
  font-family: "Roboto", sans-serif;
}
.blktext > h2 {
  padding-top: 80px;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
.blktext > h3 {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
}
.blktext > p {
  font-size: 16px;
  font-weight: 200;
  width: 427px;
  height: 219px;
}

.button {
  background-color: #B50014;
  color: #fff;
  border-radius: 25px;
  border: none;
  outline: 1px solid white;
  width: 147px;
  height: 47px;
}

.buttons {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.blkpic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.hus1 img {
  margin-top: 80px;
  padding-left: 0;
  width: 415px;
  height: auto;
}

.row {
  display: flex;
  gap: 8px;
  padding-left: 0;
}
.row img {
  width: 135px;
  height: auto;
}

.half {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  width: 100%;
}

.red {
  background-color: #B50014;
  color: white;
  width: 50%;
  font-size: large;
  text-align: left;
  justify-content: center;
}
.red > h2 {
  padding-top: 90px;
  font-weight: 700;
  font-size: 32px;
  padding-left: 33%;
}
.red > li {
  padding-left: 33%;
  font-size: 16px;
}

.grillbutton {
  background-color: white;
  color: #000000;
  border-radius: 25px;
  border: none;
  width: 147px;
  height: 47px;
}

.buttonss {
  padding-top: 30px;
  padding-left: 280px;
}

.fish {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fish img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Handwerk {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  height: 1186px;
  width: 100%;
  color: #fff;
}
.Handwerk > h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  margin-bottom: 0;
  padding-top: 60px;
}
.Handwerk > h4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  margin-top: 12px;
}
.Handwerk > p {
  font-size: 16px;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  width: 652px;
  padding-left: 0;
  text-align: center;
}
.Handwerk > .buttons {
  padding-top: 30px;
  padding-left: 0px;
}

.vonal {
  padding-top: 90px;
  padding-bottom: 55px;
}

.meatpics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.spices {
  display: flex;
  flex-direction: row;
  height: 705px;
  width: 100%;
}
.spices .spicered {
  flex: 1;
  background-color: #B50014;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.spices .spicered > .spicered_h2 {
  margin-left: 124px;
  padding-top: 180px;
  text-align: start;
}
.spices .spicered > .spicered_h2 h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 42px;
  margin-bottom: 0;
}
.spices .spicered > .spicered_h4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  margin-left: 124px;
  text-align: start;
}
.spices .spicered > .spicered_h4 h4 {
  margin-top: 0px;
}
.spices .spicered > .spicered_body {
  font-size: 16px;
  font-weight: 250;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  width: 431px;
  padding-left: 0;
  margin-left: 124px;
  text-align: start;
}
.spices .spicespic {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.spices .spicespic img {
  width: 100%;
  height: 100%;
}

.transp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  max-height: 540px;
}
.transp .fleischversand {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.transp .fleischversand h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 42px;
  margin-bottom: 0;
  color: #fff;
}
.transp .fleischversand button {
  background-color: white;
  color: #000000;
  border-radius: 25px;
  border: 1px solid red;
  width: 204px;
  height: 47px;
  gap: 0px;
  opacity: 0px;
}
.transp .parallax {
  height: 540px;
  width: 100%;
  background-image: url("/Pictures/fleischversand.png");
  background-attachment: fixed;
  background-size: 100% 540px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 150px;
}

.genussnetz {
  display: flex;
  flex-direction: row;
  height: 540px;
  width: 100%;
}
.genussnetz > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.genussnetz > .container .genuss_row {
  padding-top: 127px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.genussnetz > .container .genuss_row > .genussnetz_pic {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genussnetz > .container .genuss_row > .genussnetz_pic img {
  max-width: 100%;
  height: auto;
}
.genussnetz > .container .genuss_row > .genussnetz_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  gap: 15px;
}
.genussnetz > .container .genuss_row > .genussnetz_text h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 42px;
  margin-bottom: 20px;
  color: #fff;
}
.genussnetz > .container .genuss_column {
  width: 100%;
}
.genussnetz > .container .genuss_column > .vonal {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 0px;
}

.medals {
  height: 470px;
  width: 100%;
}
.medals > .container .medals_row {
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.medals > .container .medals_row h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 42px;
  margin-bottom: 20px;
  color: #fff;
}
.medals > .container .medals_row .special, .medals > .container .medals_row .genuine, .medals > .container .medals_row .best, .medals > .container .medals_row .quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medals > .container .medals_row .special p, .medals > .container .medals_row .genuine p, .medals > .container .medals_row .best p, .medals > .container .medals_row .quality p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5098039216);
}
.medals > .container .medals_row .special img, .medals > .container .medals_row .genuine img, .medals > .container .medals_row .best img, .medals > .container .medals_row .quality img {
  margin-bottom: 10px;
}
.medals > .container .genuss_column {
  width: 100%;
}
.medals > .container .genuss_column > .vonal {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 0px;
}

.cards {
  width: 100%;
  height: 820px;
  padding-top: 130px;
}
.cards > .container .cards_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards > .container .cards_column h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 42px;
  margin-bottom: 20px;
  color: #fff;
}
.cards > .container .cards_column p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5098039216);
}
.cards > .container .swiper-container {
  width: 100%;
  height: 100%;
}
.cards > .container .swiper-container .swiper-wrapper {
  gap: 16px;
}
.cards > .container .swiper-slide-active {
  transform: scale(1.2);
  background-color: #fff;
  opacity: 69.9%;
}
.cards > .container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
  transition: transform 0.3s, background-color 0.3s;
  opacity: 29.9%;
}
.cards > .container .swiper-slide .slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards > .container .swiper-slide .slide1 #stars {
  opacity: 100%;
  z-index: -5;
}

.footer {
  width: 100%;
  background-color: #B50014;
  position: relative;
  height: 174px;
}
.footer > .container {
  padding-bottom: 24px;
}
.footer > .container .footer_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer > .container .footer_row .socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.footer > .container .footer_row .socialmedia p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #fff;
}
.footer > .container .footer_row .socialmedia img {
  height: 41px;
}
.footer > .container .footer_row > .footer_logo {
  display: flex;
  padding-top: 7px;
  padding-left: 160px;
}
.footer > .container .footer_row .infoess {
  display: flex;
  flex-direction: row;
  gap: 11px;
  width: 200px;
  padding-top: 18px;
}
.footer > .container .footer_row .infoess .icons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer > .container .footer_row .infoess .icons .lnr-map-marker {
  padding-top: 3px;
}
.footer > .container .footer_row .infoess > .infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.footer > .container .footer_row .infoess > .infos a {
  color: #fff;
  text-decoration: none;
}
.footer > .container .footer_row .infoess p {
  font-size: 15px;
  color: #fff;
  margin: 0px;
}
.footer > .container .footer_row .infoess .mail {
  padding-top: 4px;
}
.footer > .container .footer_column {
  width: 100%;
  background-color: #66000B;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer > .container .footer_column .column_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 750px;
}
.footer > .container .footer_column .column_row p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin: 0;
  opacity: 0.5;
}
.footer > .container .footer_column .column_row p a {
  color: #fff;
  opacity: 100%;
}