$MainColor: #B50014;
$secondColor: #000000;
html {
    height: 100%;
    width: 100%;
    font-size:0;
}
body {
    margin: 0;
    background-color: #000000;
}
.header {
    position: relative;
}
.container{
    max-width: 1318px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    background-color: $MainColor;
    flex-direction: column;
    color: white;
    height: 93px;
    justify-content: center;
    align-items: center;
}
.nvbar {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 200px;
    gap: 30px;

    li{
        font-size: 16px;
    }
    img{
        height: 20px;
        vertical-align: middle;
    }
}
.opntime {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $secondColor;
    color: white;
    justify-content: right;
    width: 100%;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    font-weight: 400;
    strong{
        font-weight: 700;
    }
 

}
button:hover, li:hover{
    cursor: pointer;
}

.opText {
    margin-right: 200px;
    font-size: 16px;
}

.download {
    display: flex;
    gap: 5px;
}

.picture {
    width: 100%;
    position: relative;
}

.MainLogo {
    position: absolute;
    top: 0.2%;
    left: 19%;
    transform: translateX(-50%);
    z-index: 1;

}

.Heiko {
    position: absolute;
    top: 220px;
    color: white;
    width: 490px;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px;
    z-index: 2; 

    &>h1{
        font-size: 34px;
        text-align: left;
        padding-left: 190px;
        font-weight: 700;
        line-height: 44.5px;
        margin-top: 5px;
        font-family: "Roboto Condensed", sans-serif;
        padding-top: 35px;
    }
    &>p{
        font-size: 16px;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-weight: 250;
        line-height: 24px;
        padding-left: 190px;
        width: 275px;
        height: 134px;
    }
}

.black {
    display: flex;
    flex-direction: row;
    background-color: $secondColor;
    height: 500px;
    width: 100%;
}

.button {
    background-color: $MainColor;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: 1px solid white; 
    width: 147px;
    height: 47px;
}

.buttons {
    display: flex;
    gap: 15px; 
}
.black {
    display: flex;
    flex-direction: row;
    background-color: $secondColor;
    height: 550px;
    width: 100%;
}

.blktext {
    color: white;
    width: 50%;
    font-size: large;
    text-align: left;
    justify-content: center;
    &>h2,h3,p{  
        font-family: "Roboto", sans-serif;
    }

    &>h2{
        padding-top: 80px;
        font-weight: 700;
        font-size: 32px;
        margin: 0;
    }

    &>h3{
        font-weight: 700;
        font-size: 22px;
        margin: 0;
    }
    &>p{
        font-size: 16px;
        font-weight: 200;
        width: 427px;
        height: 219px;
    }
}

.button {
    background-color: $MainColor;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: 1px solid white;
    width: 147px;
    height: 47px;
   
}
.buttons {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.blkpic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 15px;
}

.hus1 img {
    margin-top: 80px;
    padding-left: 0;  
    width: calc(3 * 135px + 2 * 5px);
    height: auto;
}

.row {
    display: flex;
    gap: 8px;
    padding-left: 0;  

    img{
        width: 135px;
        height: auto;
    }
}
.half {
    display: flex;
    flex-direction: row;
    background-color: $secondColor;
    width: 100%;
}

.red{
    background-color: $MainColor;
    color: white;
    width: 50%;
    font-size: large;
    text-align: left;
    justify-content: center;
    
    &>h2{
        padding-top: 90px;
        font-weight: 700;
        font-size: 32px;
        padding-left: 33%;
    }

    &>li{
        padding-left: 33%;
    font-size: 16px;
    }
}

.grillbutton{
    background-color: white;
    color: $secondColor;
    border-radius: 25px;
    border: none; 
    width: 147px;
    height: 47px;
}
.buttonss{
    padding-top: 30px;
    padding-left: 280px;
    
}
.fish {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.Handwerk{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondColor;
    height: 1186px;
    width: 100%;
    color: #fff;
    
    &>h2{
        font-size: 32px;
        font-weight: 700;
        font-family: "Roboto", sans-serif; 
        line-height: 26px;
        margin-bottom: 0;
        padding-top: 60px;
    }
    &>h4{
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto", sans-serif; 
    line-height: 26px;
    margin-top: 12px;
    }
    &>p{
    font-size: 16px;
    font-weight: 250;
    font-family: "Roboto", sans-serif; 
    line-height: 24px;
    width: 652px;
    padding-left: 0;
    text-align: center;
    }

    &>.buttons{
    padding-top: 30px;
    padding-left:0px;
    }
}

.vonal{
    padding-top: 90px;
    padding-bottom:55px;
}
.meatpics{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.spices {
    display: flex;
    flex-direction: row;
    height: 705px;
    width: 100%;

    .spicered {
        flex: 1;
        background-color: $MainColor; 
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 2px;
            &>.spicered_h2{
               margin-left: 124px;
                padding-top: 180px;
                text-align: start;
                h2{
                    font-size: 32px;
                    font-weight: 700;
                    font-family: "Roboto", sans-serif; 
                    line-height: 42px;
                    margin-bottom: 0;
                }

            }
            &>.spicered_h4{
            font-size: 22px;
            font-weight: 700;
            font-family: "Roboto", sans-serif; 
            line-height: 20px;
            margin-left: 124px;
            text-align: start;
            h4{
                margin-top:0px;

            }
            }
            &>.spicered_body{
            font-size: 16px;
            font-weight: 250;
            font-family: "Roboto", sans-serif; 
            line-height: 24px;
            width: 431px;
            padding-left: 0;
            margin-left: 124px;
            text-align: start;

        }
    }
    .spicespic {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        
        }
    }
}
.transp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
    max-height: 540px;

    .fleischversand {
        position: absolute; 
        top: 43%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px; 
        h2{
            font-size: 32px;
            font-weight: 700;
            font-family: "Roboto", sans-serif; 
            line-height: 42px;
            margin-bottom: 0;
            color: #fff;

        }
        button{
            background-color: white;
            color: $secondColor;
            border-radius: 25px;
            border: 1px solid red;
            width: 204px;
            height: 47px;
            gap: 0px;
            opacity: 0px;

        }
    
      }
      .parallax {
        height: 540px;
        width: 100%;
        background-image: url("/Pictures/fleischversand.png");
        background-attachment: fixed;
        background-size: 100% 540px;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-top: 150px;
        
      }
  }

  .genussnetz {
    display: flex;
    flex-direction: row;
    height: 540px;
    width: 100%;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .genuss_row{
            padding-top: 127px;
            display: flex;
            flex-direction: row;
            width: 100%;
            &>{
                .genussnetz_pic {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            &>{
                .genussnetz_text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 20px;
                    gap: 15px;
            
                    h2 {
                        font-size: 32px;
                        font-weight: 700;
                        font-family: "Roboto", sans-serif;
                        line-height: 42px;
                        margin-bottom: 20px;
                        color: #fff;
                    }
                }
            }
        }
        .genuss_column{
            width: 100%;
            &>.vonal{
                width: 100%;
                padding-top: 130px;
                padding-bottom: 0px;

            }
        }
    }
}
.medals {
    height: 470px;
    width: 100%;

    & > .container {
        .medals_row {
            padding-top: 150px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            h2 {
                font-size: 32px;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                line-height: 42px;
                margin-bottom: 20px;
                color: #fff;
            }

            .special, .genuine, .best, .quality {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 18.75px;
                    text-align: center;
                    color:#FFFFFF82

                    
                }

                img {
                    margin-bottom: 10px;
                }
            }
        }
        .genuss_column{
            width: 100%;
            &>.vonal{
                width: 100%;
                padding-top: 130px;
                padding-bottom: 0px;

            }
        }
    }
}

//cards are not finished yet
.cards{
    width: 100%;
    height: 820px;
    padding-top: 130px;

    
    .container{
        
   .cards_column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card_button
        {
            padding-top: 90px;
            align-items: center;
        }
        
    h2{
                font-size: 32px;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                line-height: 42px;
                margin-bottom: 20px;
                margin-top: 5px;
                color: #fff;
    }
    p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
        text-align: center;
        color:#FFFFFF82

        
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;

    .swiper-wrapper {
        display: flex;
        justify-content: center;
        gap: 35px;
    }
}


.swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    background: #1b1b1b;
    transition: transform 0.3s;
    width: 300px;
    height: 350px;


    .slide1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        p{
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-weight: 300;
            line-height: 18px;
            text-align: center;
            color:#FFf

        }
        .slide1_body{
            display: flex;  
            width: 249px;
            height: 73px;
        }
        .Maria{
            opacity: 46%;
            p{
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            text-align: center;

        }}
    }
    .slide2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        #grillkurs_icon{
            padding-top: 50px;
        }
        #stars{
            padding-top: 14px;
        }
        p{
            font-family: "Roboto", sans-serif;
            
        }
        .card_body{
            
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            color:#FFf;
            width: 342px;
            height: 100px;

        }
        .TobiasK{
            padding-bottom: 20px;
         .Tobias{
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: #FFf;


         }
         .Koch{
            margin-top: 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 18.75px;
            text-align: center;
            font-family: "Roboto", sans-serif;
            color: #FFf;


         }
        }
        
    }
    
}
.swiper-slide-active {
    transform: scale(1.2);
    background-color: #2a2a2a; 
    height:414px;
    width: 400px;

}
}
}
.footer {
    width: 100%;
    background-color: $MainColor;
    position: relative;
    height: 174px;

    &>.container {
        padding-bottom: 24px; 

        .footer_row {
          display: flex;
          flex-direction: row;
          
          align-items: center;
          justify-content: space-between;

          .socialmedia{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:16px;
            align-items: end;
            p{
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;
                text-align: left;
                color: #fff;

            }

            img{
                height: 41px;
            }
          }
          

          &>.footer_logo{
           display: flex;
           padding-top: 7px;
           padding-left: 165px;
          }

          .infoess{
            display: flex;
            flex-direction: row;
            gap:11px;
            width: 200px;
            padding-top: 18px;

            .icons{
                display: flex;
                flex-direction: column;
                gap: 32px;
                .lnr-map-marker{
                    padding-top: 3px;
                }
            }
          
          &>.infos{
            display: flex;
            flex-direction: column;
            gap: 10px;  
            height: 100%;

            a{
                color: #fff;
                text-decoration: none;;
            }
          }
            p {
                font-size: 15px;
                color: #fff;
                margin: 0px;
            }
            .mail{
                padding-top: 4px;
            }
        }
    }

        .footer_column {
            width: 100%;
            background-color: #66000B;
            position: absolute;
            bottom: 0;
            left: 0;

            .column_row {
                width:100% ;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap:750px;
                
                p{
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #fff;
                    margin: 0;
                    opacity:0.5;
                    a{
                        color: #fff;
                        opacity: 100%;
                        
                    }
                }
            }
        }
    }
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    .popup-content {
        text-align: center;
    }
    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }
    
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup button {
    background-color: #B50014;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #8E0010;
}



