$MainColor: #B50014;
$secondColor: #000000;
html {
    height: 100%;
    width: 100%;
    font-size:0;
}
body {
    margin: 0;
    background-color: #000000;
}
.header {
    position: relative;
}
.container{
    max-width: 1318px;
    margin: 0 auto;

    @media (max-width: 600px) {
        max-width: 600px;
    }
    @media (max-width: 360px) {
        max-width: 412px;
    }
}
  .navbar {
    display: flex;
    background-color: $MainColor;
    flex-direction: column;
    color: white;
    height: 93px;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.navbar .nvbar {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 200px;
    gap: 30px;

    li {
        font-size: 16px;
    }

    img {
        height: 20px;
        vertical-align: middle;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.hamburger-menu {
    display: none;

    @media (max-width: 600px) {
        display: block;
        cursor: pointer;
        margin-right: 20px;


        .hamburger-icon {
            width: 30px;
            height: 20px;
            background-color:$MainColor;
            position: relative;
            left: 400%;

            &::before, &::after {
                content: '';
                display: block;
                width: 30px;
                height: 4px;
                background-color: white;
                margin: 6px 0;
            }
        }
    }
}

.menu {
    display: flex;

    @media (max-width: 600px) {
        display: none;
    }
}

.mobile-menu {
    display: none;

    @media (max-width: 600px) {
        display: block;
        top: 115%;
        position: relative;
        left: 25%;

        &.hidden {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: $MainColor;


            li {
                top: 30%;
                padding: 10px;
                background-color: red;
                color: white;
                text-align: center;
                width: 110px;
                font-size: 15px;
                height: 100%;
                position: relative;
                z-index: 8000;
            }
        }
    }
}
.opntime {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $secondColor;
    color: white;
    justify-content: right;
    width: 100%;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    font-weight: 400;
    strong{
        font-weight: 700;
    }
    .lightmode{
        background-color: $MainColor;
        color: #fff;
        border-radius: 25px;
        border: none;
        outline: 1px solid white; 
        position: relative;
        right:5%;
    
    }
    @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 10px;
        padding-top: 0;
    }

}
button:hover, li:hover{
    cursor: pointer;
}

.opText {
    margin-right: 200px;
    font-size: 16px;
    @media (max-width: 600px) {
        display: flex;
        justify-content: end;
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 11.72px;
        flex-direction: column;
        max-height: 25px;
    }
    img{
        @media (max-width: 600px) {
            scale: 0.8;
            position: absolute;
            top: 10%;
            z-index: 500;
            left: 29%;
            
        }
    
    }
}

.download {
    display: flex;
    gap: 5px;
}

.picture {
    width: 100%;
    position: relative;
        @media (max-width: 600px) 
        {
            width: 100%;
            height: 250px;
            
        }
    
}

.MainLogo {
    position: absolute;
    top: 0.2%;
    left: 15%;
    transform: translateX(-50%);
    z-index: 1;

    @media (max-width: 600px) {
        
        scale: 0.5;
        position: absolute;
        top: -5%;
        left: 0%;
}
}

.Heiko {
    position: absolute;
    top: 95px;
    color: white;
    width: 490px;
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px;
    z-index: 2; 
    @media (max-width: 600px) {
        padding-left: 0;
        position: absolute;
        top: 100%;
        
    }

    &>h1{
        font-size: 34px;
        text-align: left;
        padding-left: 190px;
        font-weight: 700;
        line-height: 44.5px;
        margin-top: 5px;
        font-family: "Roboto Condensed", sans-serif;
        padding-top: 35px;
        @media (max-width: 600px) {
            padding-left: 0;
            padding-top: 0;
            text-align: center;
            width: 85%;
        }
    }
    &>p{
        font-size: 16px;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-weight: 250;
        line-height: 24px;
        padding-left: 190px;
        width: 275px;
        height: 134px;
        @media (max-width: 600px) {
            padding-top: 0;
            padding-left: 10px;
            width: 80%;
            text-align: center;
        }
    }
    }

.pic {
    position: relative;
    .swiper-container-unique {
      .swiper-pagination-unique {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          margin: 0 5px;
          background-color: white;
          border: 2px solid transparent;
          border-radius: 50%;
          opacity: 1;
          &-active {
            background-color: red;
            border-color: white;
          }
        }
      }
      .swiper-button-prev-unique,
      .swiper-button-next-unique {
        color: white;
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
   
      }
    }

  
  }


.swiper-button-prev-unique {
    left: 44.5%;
    scale: 1.2;
    @media (max-width: 600px) {
        left: 43.5%;
        
    }
}

.swiper-button-next-unique {
    right: 44.5%;
    scale: 1.2;
    @media (max-width: 600px) {
        right: 41.5%;
        
    }
}

.button {
    background-color: $MainColor;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: 1px solid white; 
    width: 147px;
    height: 47px;
}

.buttons {
    display: flex;
    gap: 15px; 
}
.black {
    display: flex;
    flex-direction: row;
    background-color: $secondColor;
    height: 550px;
    width: 100%;
    @media (max-width:600px) {
        display: flex;
        position:relative;
        flex-direction: column;
        padding-top: 200px;
    }
}

.blktext {
    color: white;
    width: 50%;
    font-size: large;
    text-align: left;
    justify-content: center;
    &>h2,h3,p{  
        font-family: "Roboto", sans-serif;
    }

    &>h2{
        padding-top: 80px;
        font-weight: 700;
        font-size: 32px;
        margin: 0;
        @media (max-width: 600px) {
            padding-left: 120px;
            padding-top: 50px;
            text-align: center;
            width: 85%;
        }
    }

    &>h3{
        font-weight: 700;
        font-size: 22px;
        margin: 0;
        @media (max-width: 600px) {
            padding-left: 120px;
            padding-top: 10px;
            text-align: center;
            width: 85%;
        }
    }
    &>p{
        font-size: 16px;
        font-weight: 200;
        width: 427px;
        height: 219px;
        @media (max-width: 600px) {
            padding-top: 10px;
            text-align: center;
            width: 150%;
            padding-left: 50px;
        }
    }
}

.button {
    background-color: $MainColor;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: 1px solid white;
    width: 147px;
    height: 47px;
   
}
.buttons {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    @media (max-width: 600px) {
        padding-top: 60px;
        text-align: center;
        width: 150%;
        padding-left: 50px;
    }
}

.blkpic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 15px;
    @media (max-width: 600px) {
        padding-top: 10px;
    }
}

.hus1 img {
    margin-top: 80px;
    padding-left: 0;  
    width: calc(3 * 135px + 2 * 5px);
    height: auto;
    @media (max-width: 600px) {
        margin-top: 10px;
    }
}

.row {
    display: flex;
    gap: 8px;
    padding-left: 0;  

    img{
        width: 135px;
        height: auto;
    }
}
.half {
    display: flex;
    flex-direction: row;
    background-color: $secondColor;
    width: 100%;
    @media (max-width: 600px) {
        padding-top: 395px;
        display: flex;
        flex-direction: column;
    }
}

.red{
    background-color: $MainColor;
    color: white;
    width: 50%;
    font-size: large;
    text-align: left;
    justify-content: center;
    @media (max-width:600px) {
        width: 100%;
        
    }
    
    &>h2{
        padding-top: 90px;
        font-weight: 700;
        font-size: 32px;
        padding-left: 33%;
        @media (max-width:600px) {
            padding-right: 0px;
        position: relative;
        top: -50px;
        left: -47px;
            
        }
    }

    &>li{
        padding-left: 33%;
    font-size: 16px;
    @media (max-width:600px) {
        padding-right: 0px;
        position: relative;
        top: -50px;
        left: -10%;
        
    }
    }
}

.grillbutton{
    background-color: white;
    color: $secondColor;
    border-radius: 25px;
    border: none; 
    width: 147px;
    height: 47px;
    @media (max-width:600px) {
        padding-right: 0px;
        position: relative;
        top: -50px;
        left: -110%;
        
    }
}
.buttonss{
    padding-top: 30px;
    padding-left: 280px;
    
}
.fish {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width:600px) {
        width: 100%;
        height: 290px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.Handwerk{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondColor;
    height: 1186px;
    width: 100%;
    color: #fff;
    
    &>h2{
        font-size: 32px;
        font-weight: 700;
        font-family: "Roboto", sans-serif; 
        line-height: 26px;
        margin-bottom: 0;
        padding-top: 60px;
        @media (max-width:600px) {
            padding-top: 10px;
        }
    
    }
    &>h4{
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto", sans-serif; 
    line-height: 26px;
    margin-top: 12px;
    @media (max-width:600px) {
        padding-top: 10px;
        text-align: center;
    }
    }
    &>p{
    font-size: 16px;
    font-weight: 250;
    font-family: "Roboto", sans-serif; 
    line-height: 24px;
    width: 652px;
    padding-left: 0;
    text-align: center;
    @media (max-width:600px) {
        padding-top: 7px;
        width: 100%;
    }
    }

    &>.buttons{
    padding-top: 30px;
    padding-left:0px;
    @media (max-width:600px) {
        padding-top: 18px;
        justify-content: center;
    }
    }
}

.vonal{
    padding-top: 90px;
    padding-bottom:55px;
    @media (max-width:600px) {
        padding-top: 40px;
        padding-bottom: 10px;
    }
}
.meatpics{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    @media (max-width:600px) {
        display: flex;
        flex-direction: column;
        gap:0px;
       .first_row, .second_row{
        position: relative;
        left: 0px;
        scale: 0.7;
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap:15px;
        align-items: center;
       }
       .second_row{
        position: relative;
        top:-12%
       }
    }
}
.spices {
    display: flex;
    flex-direction: row;
    height: 705px;
    width: 100%;
    @media (max-width:600px) {

        display: flex;
        flex-direction: column-reverse;
    }
    .spicered {
        flex: 1;
        background-color: $MainColor; 
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 2px;
            &>.spicered_h2{
               margin-left: 124px;
                padding-top: 180px;
                text-align: start;
                 @media (max-width:600px) {
                text-align: center;
                margin-left: 0;
                padding-top: 15px;
            }
                h2{
                    font-size: 32px;
                    font-weight: 700;
                    font-family: "Roboto", sans-serif; 
                    line-height: 42px;
                    margin-bottom: 0;
                }

            }
            &>.spicered_h4{
            font-size: 22px;
            font-weight: 700;
            font-family: "Roboto", sans-serif; 
            line-height: 20px;
            margin-left: 124px;
            text-align: start;
            @media (max-width:600px) {
                text-align: center;
                margin-left: 0;
                padding-top: 15px;
            }
            h4{
                margin-top:0px;

            }
            }
            &>.spicered_body{
            font-size: 16px;
            font-weight: 250;
            font-family: "Roboto", sans-serif; 
            line-height: 24px;
            width: 431px;
            padding-left: 0;
            margin-left: 124px;
            text-align: start;
            @media (max-width:600px) {
                text-align: center;
                margin-left: 8px;
                padding-top: 15px;
                width: 95%;
            }

        }
    }
    .spicespic {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @media (max-width:600px) {
            width: 100%;
            height: 350px;
        }
        img {
            width: 100%;
            height: 100%;
         
        
        }
    }
}
.transp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: rgba(0,0,0,0.85);
    z-index: 2;
    max-height: 540px;

    .fleischversand {
        position: absolute; 
        top: 43%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px; 
        h2{
            font-size: 32px;
            font-weight: 700;
            font-family: "Roboto", sans-serif; 
            line-height: 42px;
            margin-bottom: 0;
            color: #fff;

        }
        button{
            background-color: white;
            color: $secondColor;
            border-radius: 25px;
            border: 1px solid red;
            width: 204px;
            height: 47px;
            gap: 0px;
            opacity: 0px;

        }
    
      }
      .parallax {
        height: 540px;
        width: 100%;
        background-image: url("/Pictures/fleischversand.png");
        background-attachment: fixed;
        background-size: 100% 540px;
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-top: 150px;
        @media (max-width:600px) {
            background-position: left left;
            background-size: 100% 420px;
            background-position-x: -170px;
            width: 100%;
            
        }
        
      }
  }

  .genussnetz {
    display: flex;
    flex-direction: row;
    height: 540px;
    width: 100%;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .genuss_row{
            padding-top: 127px;
            display: flex;
            flex-direction: row;
            width: 100%;
            @media (max-width: 600px) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                
            }
            &>{
                .genussnetz_pic {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 600px) {
                        scale: 1.5;
                        padding-bottom: 30px;
                    }
                    
            
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            &>{
                .genussnetz_text {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 20px;
                    gap: 15px;
                    @media (max-width:600px) {
                        width: 80%;
                        
                    }
            
                    h2 {
                        font-size: 32px;
                        font-weight: 700;
                        font-family: "Roboto", sans-serif;
                        line-height: 42px;
                        margin-bottom: 20px;
                        color: #fff;
                    }
                }
            }
        }
        .genuss_column{
            width: 100%;
            &>.vonal{
                width: 100%;
                padding-top: 130px;
                padding-bottom: 0px;
                @media (max-width:600px) {
                  scale: 3;
                  padding-top: 50px;
                  padding-left: 5px;
                    
                }

            }
        }
    }
}
.medals {
    height: 470px;
    width: 100%;
    display: flex;
    flex-direction: row;
   
    & > .container {
        @media (max-width: 600px) {
            display: flex;
            flex-direction: row;
            
        }

        .medals_row {
            padding-top: 90px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
                padding-left: 85px;

                .medal_firstrow, .medal_secondrow{
                    display: flex;
                    flex-direction: row;
                    gap:20px;
                    text-align: center;
                }
                
            }

            h2 {
                font-size: 32px;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                line-height: 42px;
                margin-bottom: 20px;
                color: #fff;
            }

            .special, .genuine, .best, .quality {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                    
                }
                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 18.75px;
                    text-align: center;
                    color:#FFFFFF82

                    
                }

                img {
                    margin-bottom: 10px;
                }
            }
        }
        .genuss_column{
            width: 100%;
            &>.vonal{
                width: 100%;
                padding-top: 40px;
                padding-bottom: 0px;

            }
        }
    }
}


.cards {
    width: 100%;
    height: 820px;
    padding-top: 130px;
    @media (max-width: 600px) {
        padding-bottom: 50px;
        
    }
}

.container {
    .cards_column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width:600px) {
            padding-top: 50px;
        }

        .card_button {
            padding-top: 90px;
            align-items: center;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            line-height: 42px;
            margin-bottom: 20px;
            margin-top: 5px;
            color: #fff;
            @media (max-width:600px) {
                text-align: center;
            }
        }

        p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 18.75px;
            text-align: center;
            color: #FFFFFF82;
        }
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        padding-top: 75px;
        position: relative;

        .swiper-wrapper {
            display: flex;
            justify-content: center;
            gap: 35px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            background: #1b1b1b;
            transition: transform 0.3s;
            width: 300px;
            height: 350px;
            position: relative;
            z-index: 1;

            .quote{
                position: relative;
                top:100%;
                left: 40%;
            }

            .slide1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 18px;
                    text-align: center;
                    color: #FFF;
                }

                .slide1_body {
                    display: flex;
                    width: 249px;
                    height: 73px;
                }

                .Maria {
                    opacity: 46%;

                    p {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.06px;
                        text-align: center;
                    }
                }
            }

            .slide2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @media (max-width: 600px) {
                    width: 420px;
                    height: 100%;
                }
                
                

                #grillkurs_icon {
                    padding-top: 50px;
                }

                #stars {
                    padding-top: 14px;
                }

                p {
                    font-family: "Roboto", sans-serif;
                }

                .card_body {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    text-align: center;
                    color: #FFF;
                    width: 342px;
                    height: 100px;
                }

                .TobiasK {
                    padding-bottom: 20px;

                    .Tobias {
                        font-family: "Roboto", sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18.75px;
                        text-align: left;
                        color: #FFF;
                    }

                    .Koch {
                        margin-top: 0;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 18.75px;
                        text-align: center;
                        font-family: "Roboto", sans-serif;
                        color: #FFF;
                    }
                }
            }
        }

        .swiper-slide-active {
            transform: scale(1.2);
            background-color: #2a2a2a;
            height: 414px;
            width: 400px;
            z-index: 2; 
           
        }

        .lnr-arrow-left-circle, .lnr-arrow-right-circle {
            color: white;
            position: absolute;
            top: 47%;
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            z-index: 3; 
        }

        .lnr-arrow-left-circle {
            left: -6%;
            scale: 1.5;
        }

        .lnr-arrow-right-circle {
            right: -6%;
            scale: 1.5;
        }
    }
}

.footer {
    width: 100%;
    background-color: $MainColor;
    position: relative;
    height: 174px;
   

    &>.container {
        padding-bottom: 24px; 

        .footer_row {
          display: flex;
          flex-direction: row;
          
          align-items: center;
          justify-content: space-between;
          

          .socialmedia{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:16px;
            align-items: end;
            p{
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;
                text-align: left;
                color: #fff;

            }

            img{
                height: 41px;
            }
          }
          

          &>.footer_logo{
           display: flex;
           padding-top: 7px;
           padding-left: 165px;
          }

          .infoess{
            display: flex;
            flex-direction: row;
            gap:11px;
            width: 200px;
            padding-top: 18px;

            .icons{
                display: flex;
                flex-direction: column;
                gap: 32px;
                .lnr-map-marker{
                    padding-top: 3px;
                }
            }
          
          &>.infos{
            display: flex;
            flex-direction: column;
            gap: 10px;  
            height: 100%;

            a{
                color: #fff;
                text-decoration: none;;
            }
          }
            p {
                font-size: 15px;
                color: #fff;
                margin: 0px;
            }
            .mail{
                padding-top: 4px;
            }
        }
    }

        .footer_column {
            width: 100%;
            background-color: #66000B;
            position: absolute;
            bottom: 0;
            left: 0;

            .column_row {
                width:100% ;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap:750px;
                
                p{
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #fff;
                    margin: 0;
                    opacity:0.5;
                    a{
                        color: #fff;
                        opacity: 100%;
                        
                    }
                }
            }
        }
    }
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    .popup-content {
        text-align: center;
    }
    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }
    
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup button {
    background-color: #B50014;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #8E0010;
}


